.pdf-container {
    display: block; 
    user-select: none;
    /* pointer-events: none; */
  }
  
  .controls {
    margin: 20px;
  }
  
  @media print {
    .pdf-container {
      display: none;
    }
  }